.container{
    background-color: burlywood;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    position: relative;
}

h1{
    color: royalblue;
}

#ticket-id{
    position: absolute;
    left: 0;
    bottom: 0;
}

#ticket-type{
    position: absolute;
    right: 0;
    bottom: 0;
}